

.greetSec{
    display: flex;
    justify-content: left;
    align-items: flex-end;
    height: 60vh;
    width: 100%;
    /* background-image: url('/Volumes/Drive E/The Therapy Tree/3t_public/public/savbg.jpeg'); */
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('../../public/savbg.jpeg');
    background-position: center center;
    background-size: cover;
    
}

.greet{
    height: auto;
    max-width: auto;
    margin-left: 3vw;
    font-size: 6vh;
    font-weight: 800;
    /* background-color: rgba(255, 255, 255, 0.5); */
    /* color: rgba(0, 0, 0, 0.6); */
    color:rgba(0, 0, 0, 0.5);
    /* color: transparent; */
    /* background-image: linear-gradient( rgba(0, 150, 0), rgba(150, 0, 0), rgba(0, 0, 0, 0.7));
    background-clip: text;
    -webkit-background-clip: text; */
    /* border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 10px; */
}

.offerings{
    min-height: 25vh;
    max-width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 2vh;
    background-color:azure;

}

.offering{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh;
    row-gap: 1vh;
    height: 8vh;
    /* aspect-ratio: 1.5; */
    min-width: 8vw;
    /* max-width: 8vw; */
    font-size: 2.25vh;
    text-wrap: wrap;
    margin: 3vmin;
}

.actionSec{
    display: flex;
    height: max(10vh, 120px);
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2vmin;
    color: green;

    button{
        min-width: 10vw;
        height: 4vh;
        aspect-ratio: 3;
        border-radius: 2vmin;
        background-color: aquamarine;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 0.5vw;
        border: none;
        margin-right: 5vmin;
    }
}

.contactSec{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 50vh;
    width: 100%;
    /* background-color: aqua; */
    flex-wrap: wrap;
}

.locSec{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 45vh;
    min-width: 35vw;
    background-color: aliceblue;
    margin: 2vmin;
    border-radius: 5vmin;
}

.locSecRow{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vmin;
    column-gap: 4vmin;
}

.locSecCol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    row-gap: 0.5vh;
}

.formSec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45vh;
    min-width: 50vw;
    width: max(50vw, 340px);
    background-color: aliceblue;
    margin: 2vmin;
    border-radius: 5vmin;

    button{
        height: 5vh;
        aspect-ratio: 3;
        background-color: aquamarine;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 0.5vw;
        border: none;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
}

.fsForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    input{
        width: 20vw;
        height: 4vh;
        border-radius: 5px;
        padding: 0 0 0 1vmin;
        border: none;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
}

.formRow{
    display: flex;
    column-gap: 5vw;
    align-items: center;
}

.formCol{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.expSec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 25vh;
    padding-top: 4vmin;
    background-color: aliceblue;
}

.dataSec{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    margin: 2vmin;
    font-size: 2vh;
}

.dataOpt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 15vw;
    width: 15vw;
    column-gap: 3vw;
}

.dataVal1{
    font-size: 5vh;
}

.dataVal2{
    font-size: 4vh;
}

.dataVal3{
    font-size: 2vh;
}

.locTitle{
    font-size: 2.5vh;
    font-weight: 525;
}

.serv{
    width: 20vw;
        height: 4vh;
        border-radius: 5px;
        padding: 0 0 0 1vmin;
        border: none;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media screen and (max-width : 430px) {
    .greetSec{
        height: 45vh;
        width: 100%;
        background-color: aliceblue;
    }

    .greet{
        width: auto;
        font-size: 15px;
        margin-bottom: 11vh;
        color: black;
    }

    .dataVal1{
        font-size: 24px;
    }

    .dataVal2{
        font-size: 16px;
    }

    .dataVal3{
        font-size: 13px;
    }

    .dataSec{
        font-size: 12px;
    }

    .expSec{
        height: 20vh;
        margin-bottom: 2vh;
    }

    .locSecCol{
        font-size: 14px;
    }

    .locTitle{
        font-size: 16px;
    }

    .fsForm{
        input{
            width: 40vw;
            background-color: white;
        }
    }

    .serv{
        width: 41vw;
            background-color: white;
    }
}