.MainContentContainerMd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh 1vw 5vh 1vw ;
    text-align: justify;
    text-justify: inter-word;
    line-height: max(4vmin, 24px);
    min-height: 68vh;
    margin: 2vh 4vw;
}

.staffMem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.staffMemIntro{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 5vw;
}

.smImg{
    height: 13vh;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../public/Indu_3t.jpeg');
    /* background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('../../public/3t_hero.png'); */
    background-position: center 20%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px 3px rgba(130, 255, 161, 0.5);
}

.smDet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 3vmin;
    font-size: 2vh;
    text-align:center;
}

.smDesc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh 5vw 0 5vw ;
    text-align: justify;
    text-justify: inter-word;
    line-height: max(4vmin, 24px);
}

@media screen and (max-width : 435px) {
    .smDet{
        font-size: 14px;
        line-height: 18px;
    }
}